<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
  <div th:replace="~{base :: logo}"></div>

  <div class="container">
    <div th:replace="~{base :: titulo('Novo Pedido')}" class="jumbotron mb-0"></div>

    <div class="card mt-3">
      <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
        <div class="form-group">
          <label for="nomeProduto">Produto</label>
          <input class="form-control" th:field="*{nomeProduto}" th:errorclass="is-invalid" placeholder="nome do produto"/>
          <small>Informa qual o nome do produto.</small>
          <div class="invalid-feedback" th:errors="*{nomeProduto}">Erros</div>
        </div>
        <div class="form-group">
          <label for="urlProduto">Url</label>
          <input class="form-control" th:field="*{urlProduto}" th:errorclass="is-invalid" placeholder="url do produto"/>
          <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
          <div class="invalid-feedback" th:errors="*{urlProduto}">Erros</div>
        </div>
        <div class="form-group">
          <label for="urlImagemProduto">Imagem</label>
          <input class="form-control" th:field="*{urlImagemProduto}" th:errorclass="is-invalid" placeholder="url da imagem"/>
          <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
          <div class="invalid-feedback" th:errors="*{urlImagemProduto}">Erros</div>
        </div>
        <div class="form-group">
          <label for="descricaoProduto">Descrição</label>
          <textarea class="form-control" th:field="*{descricaoProduto}" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
        </div>
        <button  class="btn btn-primary" type="submit">Cadastrar</button>
      </form>
    </div>

  </div>
</body>
</html>